.headerPadding {
    padding-top: 100px
    padding-bottom: 100px
}

#topTable {
    text-align: center;
    padding: 15px;
}

#fillingButton {
    width: 100%;
}

#italicFont {
    font-style: italic
}