<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>RARDB3 Log in/ Sign up</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<form th:action="@{/login}" class="form-signin" method="post">
			<div class="form-group col-md-8">
					<br></br>
					<label for="username" class="col-form-label">Write your username:</label>
				<input type="text" id="username" name="myusername" class="form-control">
					<br></br>
					<label for="password" class="col-form-label">Write your pasword:</label><br>
				<input type="password" id="password" name="password" class="form-control">
					<br></br>
					<div id="errors" th:if="${(param.error != null)}">Login or password is incorrect</div>
					<br></br>
				<button type="Submit" name="Submit" class="btn btn-primary" value="Login" th:text="Login"></button>
				
			</div>
		</form>
	</div>
</body>
</html>