	<!-- 

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RARDB3 Log in/ Sign up</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <h1>TOP RATED MOVIES</h1>
		<p>Top 10 movies as rated by RARDB users</p>
		
		<!-- table with top 10 -->
		<h3>Showing Top 10 Titles</h3>
        <table class="table table-striped">
       
       <tr>
       <th>#</th>
	   <th>Tile</th>
       <th>Title</th>
       <th>Rating</th>
	   <th>Your Rating</th>
	   <th>Add a Review</th>
       
	   <!-- need to replace cats by a movie/film object -->
        <tr th:each="cats: ${cats}">
        <td th:text="${cats.id}"/>
        <td th:text="${cats.nickname}"/>
        <td>
		
		<!-- a relaod button -->
		
		

		<!-- add a review button -->
		<!-- log in option -->
		<!--  search -->
    </div>
</body>
</html>

-->