<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RARDB3</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>RARDB</h1>
		
        
		<!--  search -->
				<form th:action="@{/search}" method="get">
			<input type="text" class="form-control" name="movieName" id="movieName"
				th:value="${movieName}" /> <input type="submit" value="Search" />


		</form>
		
		<!-- table with top 10 -->

<!-- add if - was user loged in or not and depending on that the add review button is active or not -->
		<div th:if="${not #lists.isEmpty(movies)}">


			<table class="table table-striped">

				<tr>
					<th>Rank</th>
					<th>Title</th>
					<th>Picture</th>
					<th>RDMB Rating</th>
					<th>Your Rating</th>
					<th>Add a review</th>
					
					<!-- change the cats to movies/film -- the object -->
				<tr th:each="movie: ${movies}">
					<td th:text="${movie.id}" />
					<td><img th:src="${movie.photo}" width="80" height="80" /></td>
					<td th:text="${movie.name}" />
					<td th:text="${movie.rating}" />
					<td th:text="${movie.userRating}" />
					
					


					<td><a th:href="@{/movie-add{id}(id=${movie.id})}"
						class="btn btn-outline-primary"> <span>Add</span>
					</a></td>
				</tr>

			</table>
		</div>
		<div th:unless="${not #lists.isEmpty(movies)}">
			<div class="card">
				<div class="card-body">No movie ratings available at the moment!</div>

			</div>
		</div>
					
		<!-- a relaod button -->
		<div>
		<a th:href="@{/index}" class="btn btn-outline-primary">Reload
				the page</a>
					</div>
		
		<!-- add a review button -->
		<div>
		<a th:href="@{/movie-add}" class="btn btn-outline-primary">Reload
				the page</a>
					</div>
		<!-- log in option -->
		<div>
		<a th:href="@{/login}"class="btn btn-outline-primary">Log-in to access more features!"</a>
		</div>

	
		
    </div>
</body>
</html>