<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Top 10</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

 <div class="container-fluid">
 <div class="row">
    <div class="col-md-2">
    <div class="p-3">
				<form th:action="@{/movies/search}" method="get" >
	    	<input type="text" name="Title" id="Title" th:value="${Title}"/>
	    	<input type="submit" class="btn btn-outline-secondary" value="SEARCH" />

		</form>
		</div>
		</div>
		<!-- <div class="mx-auto" style="width: 200px;">
		<a th:href="@{/movies/main}" class="btn btn-primary" data-toggle="button" aria-pressed="false" style="word-wrap: break-word;">RELOAD THE PAGE</a>
				
</div>
					</div> -->
				 <div class="col-md-8">	
        <h1 class = "text-center p-3">RARDB</h1>
        <h2 class="text-center p-3">Top 10 User Rated Movies</h2>
        </div>
		
			 <div class="col-md-2">
		 <div class="btn-group-vertical mx-auto"style="width: 100%;">
		 
		<!-- a user button -->
		
<a th:if="${loggedIn}" th:href="@{/user}" class="btn btn-outline-secondary" id="fillingButton">MY ACCOUNT</a>
					
					
	<!-- Registration in option -->	
		
		<a th:if="!${loggedIn}" th:href="@{/registration}"class="btn btn-outline-secondary" id="fillingButton">REGISTER</a>
		
		
		<!-- Login in option -->
		
		<a th:if="!${loggedIn}" th:href="@{/login}"class="btn btn-outline-secondary" id="fillingButton">LOGIN</a>
		
		<a th:href="@{/movies/main}" class="btn btn-outline-secondary" id="fillingButton">RELOAD THE PAGE</a>
				

					</div>
		
		</div>
       </div>
	   </div>
	   

		 <!-- <div th:if="${not #lists.isEmpty(movies)}">  -->

<div class="container-fluid">
 
					
			<table class="table table-hover table-dark" id="padding1">

				<tr>
					<th id="topTable">Rank</th>
					<th id="topTable">Title</th>
					<th id="topTable">Poster</th>
					<th id="topTable">RDMB Rating</th>
					<th id="topTable">IDMB Rating</th>
					<th id="topTable">Read the reviews</th>
					
					
				<tr th:each="movie: ${movies}">
					<td th:text="${movie.ranking}" id="topTable"/> 
					<td id="topTable" th:text="${movie.title}"/> 
					<td id="topTable"><img th:src="${movie.poster}" width="80" height="80" /></td> 
					<td id="topTable" th:text="${movie.averageRating}" />
					<td id="topTable" th:text="${movie.imdbRating}" />
					
					
			
					
					
					 <td id="topTable"><a th:href="@{/movies/reviews/{id}(id=${movie.imdbId})}" class="btn btn-light" style="color: black;"> <span>Reviews</span>
					</a> </td> 


					
				</tr>

			</table>
			</div>
			
    </div>
</body>
</html>