<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a Review</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h1>RARDB</h1>



		<form action="#" th:action="@{/movies/movie-add/{id}(id=${review.ImdbId})}"
			th:object="${review}" method="post">
			<div class="row">
				<div class="form-group col-md-8">
					<label for="userReview" class="col-form-label">Write a review:</label><br>
					<textarea type="text"  th:field="*{userReview}" class="form-control p-2" id="userReview"> 
					
						
						<span th:if="${#fields.hasErrors('userReview')}" th:errors="*{userReview}" rows="10" class="text-danger"/><br>
						</textarea>
						
				<label for="rating" class="col-form-label pt-4 pb-2">Rate the movie:</label><br>	
		 <div class="btn-group btn-group-toggle p-4" data-toggle="buttons">
  
  <label class="btn btn-secondary active">
    
		<input type="radio" th:field="*{rating}" id="option1" value="1">1</label>
        
		<label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option2" value="2">
       2</label>
	   <label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option3" value="3">
       3</label>
	   <label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option4" value="4">
       4</label>
	   <label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option5" value="5">
        5</label>
		<label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option6" value="6">
       6</label>
	    <label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option7" value="7">
       7</label>
	   <label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option8" value="8">
       8</label>
	   <label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option9" value="9">
        9</label>
		 <label class="btn btn-secondary active">
		<input type="radio" th:field="*{rating}" id="option10" value="10">
       10</label>
		
			</div> 
				<!--<br>
		
					
					<label for="userId" class="col-form-label">Write your user name:</label><br>
					
					<input type="text" th:field="*{userId}" class="form-control" id="userId"> 
					
						
						<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="text-danger"/><br>
							



				</div>-->
				<div class="form-group col-md-8">
					<input type="submit" class="btn btn-primary" value="Add a review" style="width:50%;">
				</div>

			

    </div>
	</form>
	</div>
</body>
</html>
