<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RARDB3 add a movie Review</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>RARDB</h1>
        <!-- <a href="/cats"> Cats here!</a> -->
		
		<!-- Add a review form -->
		<!-- submit button -->
		<!-- comments section -->
		<!-- back button -->
		<!--  reload -->
    </div>
</body>
</html>