<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RARDB3 add a movie Review</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>RARDB</h1>

		<!-- Add a review form -->
		<!-- submit button -->
		<!-- comments section -->
		<!-- back button -->
		<!--  reload -->
		


		<form action="#" th:action="@{/movies/movie-add/{id}(id=${review.ImdbId})}"
			th:object="${review}" method="post">
			<div class="row">
				<div class="form-group col-md-8">
					<label for="userReview" class="col-form-label">Write a review:</label><br>
					<input type="text"  th:field="*{userReview}" class="form-control" id="userReview"> 
					
						<label for="rating" class="col-form-label">Rate the movie:</label><br>
						<span th:if="${#fields.hasErrors('userReview')}" th:errors="*{userReview}" class="text-danger"/><br>

					<input type="number" th:field="*{rating}" class="form-control"
						id="rating">
						
					<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="text-danger"/><br>
					<label for="userId" class="col-form-label">Write ayour user name:</label><br>
					<input type="text" th:field="*{userId}" class="form-control" id="userId"> 
					
						
						<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="text-danger"/><br>
							



				</div>
				<div class="form-group col-md-8">
					<input type="submit" class="btn btn-primary" value="Add a review">
				</div>

			

    </div>
	</form>
	</div>
</body>
</html>